body {
  background-repeat: no-repeat;
  background-size: relative;
  width: 100vw;
  height: 100vh;
 
}

#form {
  background-color: rgba(255, 255, 255, 0.953);
  width: 28%;
  border-radius: 6px;
  margin: 10% auto;
  padding: 40px;
}

h1 {
  text-align: center;
  color: #000000;
  margin: 3%;
}

input {
  width: calc(100% - 10px); 
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 5px;
}

#btn {
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgba(143, 142, 145, 0.47);
  padding: 10px;
  font-weight: 700;
  font-size: larger;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

#btn:hover {
  transform: scale(1.01);
  transition: all 0.5s ease;
  cursor: pointer;
}

form label {
  color: rgb(100, 100, 100);
  font-size: 18px;
  font-weight: 500;
}



a:hover {
  transform: scale(1.01);
  transition: all 0.5s ease;
  cursor: pointer;
}
#logi{
  text-decoration: none;
  background-color: #000000;
  padding: 3%;
  color: white;
  border-radius: 10%;
  margin-left: 3%;


}
p{
  margin-top: 4%;
  color: #000000;
  
}

@media screen and (max-width: 1350px) {
  #form {
    width: 40%;
    margin-left: none;
    padding: 40px;
  }
}

@media screen and (max-width: 1100px) {
  #form {
    width: 50%;
    margin-left: none;
    padding: 40px;
  }
}

@media screen and (max-width: 700px) {
  #form {
    width: 60%;
    margin-left: none;
    padding: 40px;
    margin-top: 20%;
  }
}
  @media screen and (max-width: 400px) {
    #form {
      width: 60%;
      margin-left: none;
      padding: 40px;
      margin-top: 20%;
    }
    #logi{
      white-space: nowrap;
      
    }
   #form #btn { 
      width: 40%;
      font-size: 70%;

    }
 
}
